body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d5d1d1df;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: 10px solid #e61d07;
}